QuickCourses.Api/obj
QuickCourses.Api/bin
QuickCourses.Api/Properties/PublishProfiles
QuickCourses.Api.Data/obj
QuickCourses.Api.Data/bin
QuickCourses.Model/obj
QuickCourses.Model/bin
QuickCourses.Api.Tests/bin
QuickCourses.Api.Tests/obj
.vs
/QuickCourses.Client/bin/Debug/netcoreapp2.0
/QuickCourses.Client/obj
/QuickCourses.Client.Tests/bin/Debug/netcoreapp2.0
/QuickCourses.Client.Tests/obj
