QuickCourses.Api/obj
QuickCourses.Api/bin
QuickCourses.Api/Properties/PublishProfiles
QuickCourses.Api.Data/obj
QuickCourses.Api.Data/bin
QuickCourses.Api.Tests/bin
QuickCourses.Api.Tests/obj
.vs
QuickCourses.Client/bin
QuickCourses.Client/obj
QuickCourses.Client.Tests/bin
QuickCourses.Client.Tests/obj
.idea
QuickCoursers.Runner/bin
QuickCoursers.Runner/obj
QuickCoursers.Runner/obj
QuickCourses.Bot
QuickCourses.Extensions/bin
QuickCourses.Extensions/obj
QuickCourses.Api.Data.Tests/obj
QuickCourses.Api.Data.Tests/bin
/QuickCourses.TelegramBot/bin
/QuickCourses.TelegramBot/obj
/QuickCourses.TelegramBot.Data/bin
/QuickCourses.TelegramBot.Data/obj/Debug/netcoreapp2.0
/QuickCourses.TelegramBot.Data/obj/Release/netcoreapp2.0
/QuickCourses.TelegramBot/Properties
/QuickCourses.TelegramBot.Data/obj
/QuickCourses.TelegramBot.Models
/QuickCourses.TestHelper/bin/Debug/netcoreapp2.0
/QuickCourses.TestHelper/obj
/QuickCourses.TestHost/bin/Debug/netcoreapp2.0
/QuickCourses.CourseUploader
/QuickCourses.CourseUploader/bin/Debug/netcoreapp2.0
QuickCourses.sln.DotSettings.user
QuickCourses.Api.Models/bin
QuickCourses.Api.Models/obj
QuickCourses.Api.Data.Models.Extensions/obj
QuickCourses.Api.Data.Models.Extensions/bin
QuickCourses.Api.Data.Models/bin
QuickCourses.Api.Data.Models/obj
QuickCourses.Api.Extensions/obj
QuickCourses.Api.Extensions/bin
/QuickCourses.Model/bin
/QuickCourses.Model/obj