QuickCourses.Api/obj
QuickCourses.Api/bin
QuickCourses.Api/Properties/PublishProfiles
QuickCourses.Api.Data/obj
QuickCourses.Api.Data/bin
QuickCourses.Model/obj
QuickCourses.Model/bin
QuickCourses.Api.Tests
.vs